page-login {
     

  .margin{
    margin-left :1%;
    margin-right : 1%;
  }

  .size{
    width: 232px;
  }

  .btn-custom{
    background-color: #27668d  ;
    color: white;
    padding: 20px;
    font-size: 150%;
    
  }


  ion-navbar{
    background-color: #51392A;
  }

  
  
}

